*{
  font: sans-serif;	
}
#div{
	margin-bottom: 10px;
}
#ta1{
	resize: none; 
	height: 170px;
}
#btn1{
	border-radius: 5px;
}
#btn2{
	border-radius: 5px;
	background-color:#212121;
}
#div2{
	height:auto;
}
#div3{
	height:250px auto;
}
#btn11{
	background-color:#212121;
	border-radius: 5px;
}
#btn22{
	background-color:#ffffff;
	border-radius:5px;
}
#btn3{
	background-color:#212121; 
	margin-left:43%;
	border-radius: 5px;
	margin-bottom: 5px;
}